@model IEnumerable<RailwayTicketBooking.User>

@{
    ViewBag.Title = "Пользователи системы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список пользователей</h2>

<table>
    <tr>
        <td>
            @Html.Label("Имя");
        </td>
        <td>
            @Html.Label("Фамилия");
        </td>
        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <td>
                @Html.Label("Логин");
            </td>
            <td>
                @Html.Label("Пароль");
            </td>
        }
        <td>
            @Html.Label("Роль");
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            @if (HttpContext.Current.User.IsInRole("Администратор"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.UserRole.Name)
            </td>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            }
        </tr>
    }
</table>