@model RailwayTicketBooking.Models.RegistrationData

@{
    ViewBag.Title = "Регистрация пользователя";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Регистрация пользователя</h2>

@using (Html.BeginForm("Registration", "Account", FormMethod.Post, new { @id = "reg_form" }))
{
    <hr />
    @Html.ValidationSummary()
    <fieldset>
        @Html.LabelFor(r => r.Login, new {@class = "editor-label"})
        @Html.TextBoxFor(r => r.Login, new { @id = "editor-field" })
        @Html.LabelFor(r => r.Password, new { @class = "editor-label" })
        @Html.TextBoxFor(r => r.Password, new { @id = "editor-field" })
        @Html.LabelFor(r => r.PasswordReplay, new { @class = "editor-label" })
        @Html.TextBoxFor(r => r.PasswordReplay, new { @id = "editor-field" })
        @Html.LabelFor(r => r.Surname, new { @class = "editor-label" })
        @Html.TextBoxFor(r => r.Surname, new { @id = "editor-field" })
        @Html.LabelFor(r => r.Name, new { @class = "editor-label" })
        @Html.TextBoxFor(r => r.Name, new { @id = "editor-field" })
        @Html.LabelFor(r => r.Patronymic, new { @class = "editor-label" })
        @Html.TextBoxFor(r => r.Patronymic, new { @id = "editor-field" })
        <button type="submit">Регистрация</button>
    </fieldset>
}