@model RailwayTicketBooking.Connection

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Connection</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Departure_Station, "Station1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_Departure_Station", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_Departure_Station)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Id_Arrival_Station, "Station")
        </div>
        <div class="editor-field">
            @Html.DropDownList("Id_Arrival_Station", String.Empty)
            @Html.ValidationMessageFor(model => model.Id_Arrival_Station)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
