<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/Custom/Watch.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <header>
            <a href="/">
                <img id="logo" alt="RTB" src="/Content/Images/Logo.png" title="Railway Ticket Booking" />
            </a>
            <h1>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Бронирование
                &nbsp;&nbsp;&nbsp;Железнодорожных
                Билетов
            </h1>
        </header>
        <nav id="menu">
            <a href="/Booking" alt="Резервирование билетов"><div class="link_button">Резервирование</div></a>
            <a href="/Schedule" alt="Расписание"><div class="link_button">Расписание</div></a>
            <a href="/Hotline" alt="Горячая линия"><div class="link_button">Горячая линия</div></a>
            <a href="/Account/Registration" alt="Станции"><div class="link_button">Станции</div></a>
            <a href="/News" alt="Новости"><div class="link_button">Новости</div></a>
        </nav>
        <div id="content">
            <div id="left_side">
                <div id="user_card">
                    @{Html.RenderAction("Login", "Account");}
                </div>
                <div id="whether">
                    <a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://pogoda.yandex.ru/kharkiv" target="_blank">
                        <img src="//info.weather.yandex.net/kharkiv/4.ru.png?domain=ru" border="0" alt="Яндекс.Погода" />
                        <img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0" />
                    </a>
                </div>
                <div id="watch"></div>
            </div>
            <div id="main_side">
                @RenderBody()
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
