<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/jquery-ui.theme.min.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/Scripts/jquery-ui-i18n.min.js")
    @RenderSection("Scripts", required: false)
</head>
<body>
    <div id="page">
        <header>
            <a href="/">
                <img id="logo" alt="RTB" src="/Content/Images/Logo.png" title="Railway Ticket Booking" />
            </a>
            <h1>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Бронирование
                &nbsp;&nbsp;&nbsp;Железнодорожных
                Билетов
            </h1>
        </header>
        <nav id="menu">
            <a href="/SearchTicket" ><div class="link_button">Резервирование</div></a>
            <a href="/Schedule" ><div class="link_button">Расписание</div></a>
            <a href="/Hotline" ><div class="link_button">Горячая линия</div></a>
            <a href="/Account/Registration" ><div class="link_button">Станции</div></a>
            <a href="/News" ><div class="link_button">Новости</div></a>
        </nav>
        @if (HttpContext.Current.User.IsInRole("Admin") || HttpContext.Current.User.IsInRole("Moderator"))
        {
            <hr />
            <nav id="admin_menu">
                <a href="/User" >Пользователи</a>&nbsp;&nbsp;
                <a href="/UserRole" >Роли</a>&nbsp;&nbsp;
                <a href="/Station" >Станции</a>&nbsp;&nbsp;
                <a href="/Connection" >Сообщения</a>&nbsp;&nbsp;
                <a href="/WagonType" >Типы вагонов</a>&nbsp;&nbsp;
                <a href="/Wagon" >Вагоны</a>&nbsp;&nbsp;
                <a href="/Train" >Поезда</a>&nbsp;&nbsp;
                <a href="/Route" >Маршруты</a>&nbsp;&nbsp;
                <a href="/Ticket" >Билеты</a>&nbsp;&nbsp;
                <a href="/Facility" >Льготы</a>&nbsp;&nbsp;
                <a href="/Booking" >Заказы</a>&nbsp;&nbsp;
            </nav>
        }
        <div id="content">
            <div id="left_side">
                <div id="user_card">
                    @{Html.RenderAction("Login", "Account");}
                </div>
                <div id="whether">
                    <a href="https://clck.yandex.ru/redir/dtype=stred/pid=7/cid=1228/*https://pogoda.yandex.ru/kharkiv" target="_blank">
                        <img src="//info.weather.yandex.net/kharkiv/4.ru.png?domain=ru" border="0" alt="Яндекс.Погода" />
                        <img width="1" height="1" src="https://clck.yandex.ru/click/dtype=stred/pid=7/cid=1227/*https://img.yandex.ru/i/pix.gif" alt="" border="0" />
                    </a>
                </div>
                <div id="watch"></div>
            </div>
            <div id="main_side">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>
